main {
	overflow: hidden;     
	overflow-y: scroll;     
	scrollbar-width: thin;
}

#group, #user {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#button {
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 100px;
	align-items: center;
}

.buttonAdmin {
    text-align: center;
    margin-top: 10px;
    padding: 10px 0;
	font-size: 0.9em;
	font-weight: bold;
	background-color: #E0E0E0;
	border: 2px solid #adadad;
	border-radius: 5px;
    width: 250px;
	letter-spacing: 1px;
    transition-duration: 0.3s;
}

table {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
	margin-top: 20px;
}

thead {
	background-color: rgba(237, 237, 237, 0.878);
	height: 50px;
}

tr, td {
	border: 1px solid black;
}

.center {
	text-align: center;
}

.decalage {
	padding-left: 10px;
}

.cache {
  display: none;
}
