main {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}
#options{
    height: 90%;
    border: 3px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    justify-content: center;
    margin-top: 20px;
    width: 90%;
    position: relative;
}
.sectionsOption {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
#options article h3{
    text-align: center;
    margin: 10px 0;
    letter-spacing: 1px;   
}
#options .sectionsOption section{
    margin: 10px 0;
}
#options .sectionsOption article{
    margin: 5px 0;
}
#options #optionSound {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}
#options #optionButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: end;
    position: sticky;

    
}
#apparence{
    height: 50%;
}
#notification{
    height: 50%;
}
#options .button {
    text-align: center;
    margin-top: 10px;
    padding: 10px 0;
	font-size: 0.9em;
	font-weight: bold;
	background-color: #E0E0E0;
	border: 2px solid #adadad;
	border-radius: 5px;
    width: 250px;
	letter-spacing: 1px;
    transition-duration: 0.3s;
}
#options a .button {
    padding: 0;
}
#options #mentions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
   
}
#options .button:hover {
	background-color: #adadad;
	border-color: #2C2F33;
}
@media (min-width:850px) {
    #options{
        display: grid;
        grid-template-rows: 1fr 1fr 2fr;
        grid-template-columns: 1fr 1fr;
    }
    #apparence{
        grid-area:1 / 1 / 2 / 2;
        height: 100%;
        align-items: center;
    }
    #notification{
        grid-area:2 / 1 / 3 / 2;
        height: 100%;
        align-items: center;
    }
    #mentions{
        grid-area: 3 / 1 / 4 / 3;
        justify-content: start !important;
    }
    #optionSound{
        display: flex;
        justify-content: start;
        grid-area:1 / 2 / 3 / 3;
    }
    #optionSound *{
        margin: 10px 0 !important;
    }
    #optionButtons{
        justify-content: end;
        grid-area:3 / 1 / 4 / 2;
    }

}