main {
	margin: 0;
}

#profil * {
	margin: 10px 0;
}
#profil .button {
	padding: 10px 3px;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
	background-color: #E0E0E0;
	border: 2px solid #adadad;
	border-radius: 5px;
    padding: auto 5px;
	letter-spacing: 1px;
	margin: 10px 0;
	transition-duration: 0.3s;
}
#profil article:last-of-type {
	margin-top: 20px;
}
#profil .button:hover {
	background-color: #adadad;
	border-color: #2C2F33;
}

#profil {
	border: 3px solid #E0E0E0;
	border-radius: 20px 0 0 20px;
	width: 95%;
	margin: 20px auto auto;
	padding: 0 0 10px 10px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
	height: 95%;
}
#photo {
	margin: 15px;
	width: 90px;
	float: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#photo img {
	width: 70px;
	height:70px;
	border-radius: 100%;
	padding: 10px;
	background-color: #E0E0E0;
	border: 2px solid #adadad;
}


main article {
	margin-left: 15px;
}
#information {
	clear: both;
}

.champs {
	font-weight: bold;
	font-size: 1.3em;
}
